<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
  <application
    android:label="Survoler"
    android:icon="@mipmap/survoler_icon"
    android:roundIcon="@mipmap/survoler_icon"
    android:allowBackup="false"
    android:usesCleartextTraffic="false" />
</manifest>
